# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.swp
*.swo

tex/*.toc
tex/*.ps
tex/*.log
tex/*.aux
tex/*.nav
tex/*.out
tex/*.pdf

data/
build/
lib/cgengine/lib/

biblio/Paper 1437.pdf


